<!doctype html>
<html>
<head>
	<title>CSV 2 Upload</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script> alert("Database has been cleaned of wrong entries. Clean tbl is empty. If you want to run clean again you must upload csv first."); </script>
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
	<% include ./partials/logo %>
	<div class="page-header text-center">
		<h1><span class="fa fa-upload"></span> Database cleaned now, upload schedule state csv.</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">






	<!-- LOGIN FORM -->
	<form action='/bupload' method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label>CSV State</label>
			<input type="file" name="csv" accept=".csv"/>

		</div>


		<input type="submit" class="btn btn-danger btn-lg" />
	</form>

	<hr>





</div>

</div>
</body>
</html>
