<!doctype html>
<html>
<head>
	<title>DB Clean up</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
</head>
<body>
	<div class="page-header text-center">
		<h1><span class="fa fa-trash-o"></span> DB Clean up</h1>
		<a href="/logout" class="btn btn-default btn-sm">Logout</a>
	</div>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">






	<!-- LOGIN FORM -->
	<form action='/clean' method="post" >
		<div class="form-group">
			<label>DB clean up</label>


		</div>


		<input type="submit" class="btn btn-warning btn-lg" value="Clean"/>
	</form>

	<hr>





</div>

</div>
</body>
</html>
