<!doctype html>
<html>
<head>
	<title>SQL update</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<style>
		body 		{ padding-top:80px; }
	</style>
  <script> alert("File uploaded successfully , be sure the file is correct before executing DB update"); </script>
</head>
<body>
	<% include ./partials/logo %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	
	<h1><span class="fa fa-cog"></span>Database Update</h1>
  <p>
    <strong>File name</strong>: <%= file.originalname %><br>
    <strong>Size in Bytes</strong>: <%= file.size %><br>
    <strong>Type</strong>: <%= file.mimetype %>
  </p>



	<!-- LOGIN FORM -->
	<form action='/sql' method="post" >


		<input type="submit" class="btn btn-danger btn-lg" value="Execute" />
	</form>

	<hr>


	<p>Or go back to <a href="/upload">upload</a>.</p>

</div>

</div>
</body>
</html>
