<!doctype html>
<html>
<head>
	<title>SQL update done</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script> alert("Please allow a minute for the program to finish, before cleaning DB\nIf there was any error a pop-up window will notify you."); </script>
	<style>
		body 		{ padding-top:80px; }
	</style>

</head>
<body>
	<% include ./partials/logos %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">


	<h1><span class="fa fa-check-circle"></span>Database successfully updated!</h1>
	<h3 align="center"; style="color:#f0ad4e";>Check for pop up window in case of any errors.</h3></br>




	<p>Continue to DB <a href="/clean">clean up</a>.</p>
	<p>Go back to <a href="/upload">upload</a>.</p>


</div>

</div>
</body>
</html>
