<!doctype html>
<html>
<head>
	<title>SQL update done</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script> alert("If there was any error a pop-up window will notify you."); </script>
	<style>
		body 		{ padding-top:80px; }
	</style>

</head>
<body>
	<% include ./partials/logo %>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1 align="center"><span class="fa fa-check-circle"></span></h1>
	<h1>Database successfully updated!</h1>
	<h3 align="center"; style="color:#757575";>Check for pop up window in case of any errors.</h3></br>





	<p>Go back to <a href="/upload">upload</a>.</p>
	<a href="/logout" class="btn btn-default btn-sm" style="margin-left:20px">Logout</a>


</div>

</div>
</body>
</html>
